<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:http="http://www.springframework.org/schema/c"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.srringframework.org/schema/aop/spring-aop-3.0.xsd"
        >
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="201919"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <!-- 或者用mappingLocations     *.hbm.xml-->
            <list>
                <value>Entity/user.hbm.xml</value>
            </list>
        </property>
        <!-- 设置Hibernate属性-->
        <property name="hibernateProperties">
            <!-- Hibernate4的jar中的hibernate的properties文件会覆盖掉dateSource配置信息，
             所以要在sessionFactory中重新配置！！！！mdzz???-->
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="show_sql">true</prop>
                <prop key="connection.pool_size">5</prop>
                <prop key="hibernate.connection.characterEncoding">UTF-8</prop>
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">201919</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/test</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
        <property name="checkWriteOperations" value="false"></property>
    </bean>
    <bean id="userDao" class="DaoImpl.userDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="userService" class="Service.Impl.userServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <!--ACtion -->
    <bean id="loginAction" class="Action.loginAction">
        <property name="UserService" ref="userService"/>
    </bean>
    <bean id="userQueryAction" class="Action.userQuertyAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userAction" class="Action.userAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="deleteUserAction" class="Action.deleteUserAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="updateUserAction" class="Action.updateUserAction">
        <property name="userService" ref="userService"/>
    </bean>
</beans>